:root {
  --font-title: 'Raleway';
  
  --color-text-title: #ffffff;
  --color-text-main: #000000;

  --color-link-normal: transparent;
  --color-link-hover: #babbc5;
  --color-link-active: #E71414;

  --color-btn-normal: #FF4343;
  --color-btn-hover: #E71414;
  --color-btn-active: #FF4343;

  --duration-show-element-main: .25s;
  --duration-change-property-main: .25s;
  --duration-active-element: .125s;

  --timing-function-main: linear;

  --padding-button-main: 1em 3em;
}
