@use '../../styles/mixins.scss' as mix;
@use '../../styles/variables.scss' as var;

.btn {
  
  @include mix.h4(var(--color-text-title));
  background-color: var(--color-btn-normal);
  padding: var(--padding-button-main);
  transition: background-color var(--duration-change-property-main) var(--timing-function-main);
  border: none;
  text-transform: uppercase;
  white-space: nowrap;
  border-radius: .2em;
  animation: showBtn 1s cubic-bezier(.01,.3,1,.2) ;


  &:hover {
    background-color: var(--color-btn-hover);
  }

  &:active {
    box-shadow: 
      0px 0px .9em .3em var(--color-btn-active) inset, 
      0px 0px .9em .3em var(--color-btn-active) ;
  }
}

@keyframes showBtn {
  0% {
    clip-path: circle(0);
  }

  80% {
    clip-path: circle(100%);
    box-shadow: none;
  }

  90% {
      box-shadow: 
      0px 0px .9em .3em var(--color-btn-active) inset, 
      0px 0px .9em .3em var(--color-btn-active) ;
  }
}