.footer {}

.content {
  background: #353C65;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
  padding: 4.5em 2em;

}

@media (max-width: 748px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
    padding: 2em 1em;
  }
}
