@use '_/styles/mixins.scss' as mix;

.image {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  margin-bottom: 1.875em;
}

.title {
  @include mix.h4(#2D3033);
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: .3em;
}

.jobTitle {
  @include mix.h5(#FF4343);
  text-transform: uppercase;
  margin-bottom: 1.1em;
}

.activity {
  @include mix.h5(#6C7279);
  @include mix.textOverflow(8);
  margin-bottom: 2.1em;
}

.social {
  display: flex;
  gap: .25em;
}