.dots {
  display: flex;
  gap: 1em;
  margin: 0 auto;
 }

 .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid;
  font-size: 0;
  cursor: pointer;
 }

 .active {
  background-color: #000000;
 }